# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/
*.log

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?